.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height:700px;
    overflow-y: auto;
}

.cart-cartItems {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 0px;
}

.cartItem {
    width:fit-content;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    margin: 15px;
}

.cartItem img {
    width: 10vw;
}

.cartItem .description {
    width: fit-content;
    height: fit-content;
    margin-left: 1vw;
    font-size: 2vw;
    display:flex;
    flex-direction: column;
}
.countHandler {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height:2.1vw;
    margin-top:0.2vw;
}

.countHandler input {
    width: 3vw;
    text-align: center;
    font-weight: bolder;
}
.countHandler .minus{
    width:2.5vw;
}
.countHandler .plus{
    width:2.5vw;
}
.checkout .Total{
    font-size: 1.3vw;
}
.checkout button {
    width: 5vw;
    height: 5vw;
    background-color: rgb(19, 19, 19);
    font-size:1vw;
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
}